@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto&display=swap");
.filters {
  width: 85vw;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.817);
  color: white;
  border-radius: 4px;
  display: flex;
  min-height: 80vh;

  &__row-filters {
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
    border: 2px solid whitesmoke;
    background-color: black;
    padding: 15px;
    width: 80vw;
    position: relative;

    & div {
      display: flex;
      flex-direction: column;
    }
  }

  &__display {
    width: 100%;
    position: relative;
    &__filters-icon {
      position: absolute;
      right: 10px;
      top: 10px;
      background-color: transparent;
      outline: none;
      color: white;
      border: none;
      font-size: 22px;
      cursor: pointer;
    }
    &__search-bar {
      margin: 15px auto;
      display: flex;
      justify-content: center;
      &__input-field,
      &__search-button,
      &__clear-button {
        outline: none;
        border: none;
        background: rgba(45, 65, 63, 0.856);
        border: 1px solid;
        color: wheat;
      }

      &__input-field {
        color: wheat;
        text-align: center;
        padding: 6px;
        border-left: none;
        border-right: none;
        width: 80%;
        height: 25px;
      }

      &__search-button {
        border-left: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        cursor: pointer;
        padding: 10px;
        padding-bottom: 11px;
      }
      &__clear-button {
        border-right: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        cursor: pointer;
        padding: 10px;
        padding-bottom: 11px;
      }
    }
    // &__results {
    // }
  }

  &__row-elements {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    padding-bottom: 15px;

    &__element {
      margin: 15px;

      text-decoration: none;
      text-align: left;
      &__info {
        color: burlywood;
        & p {
          margin: 0;
        }
      }
    }
  }
}

.filter-result {
  margin: 10px;
  display: inline-block;
  text-align: left;
  position: relative;
}

.filter-result__link {
  color: white;
  text-decoration: none;
}

.filter-result-title {
  background-color: black;
  padding: 5px 0px;
  text-align: center;
  margin: 0;
  font-family: "Roboto";
}

.apply-button {
  outline: none;
  border: none;
  padding: 6px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(0, 217, 255);
  color: white;
}

.buttons {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.479);
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -10px;
  width: 100%;
  opacity: 0;
  animation-name: show;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
  &-invisible {
    display: none;
  }

  @keyframes show {
    1% {
      opacity: 0;
      transform: translateY(0px);
    }
    100% {
      opacity: 1;
      transform: translateY(10px);
    }
  }
}
.heart {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 22px;
  color: red;
  cursor: pointer;
}
.share {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 22px;
  cursor: pointer;
}
.link {
  display: none;
}
