.login {
  width: 30vw;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.817);
  color: white;
  text-align: center;
  border-radius: 8px;
  min-height: 50vh;
  min-width: 30vw;

  &__login-form {
    &__username,
    &__password {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & input {
      outline: none;
    }
  }
}
