@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto&display=swap");

@media (min-width: 960px) {
  .search-result {
    &__show {
      &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &__row1 {
          justify-self: flex-start;
        }
      }
    }
  }
}

.search-results {
  position: absolute;
  z-index: 2;
  top: 35px;
  display: none;
  justify-self: center;
  width: 80vw;
  background: #272728;
  max-height: 550px;
  overflow-y: scroll;
  border: 4px solid black;

  &-open {
    display: block;
    animation-name: showSearchResults;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }

  @keyframes showSearchResults {
    1% {
      opacity: 0;
      transform: translateY(0px);
    }
    100% {
      opacity: 1;
      transform: translateY(10px);
    }
  }

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

  &__header {
    display: flex;
    justify-content: flex-end;

    & > h5 {
      margin: 0;
      margin-right: 30px;
      padding-top: 3px;
      font-weight: 400;
      font-family: "Lobster", cursive;
      font-size: 22px;
    }

    &__close-button {
      cursor: pointer;
    }
  }
}
.search-result {
  &__show {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    & a {
      text-decoration: none;
      color: #fff;
    }

    &__image {
      width: 20%;
      border-radius: 6px;
      margin-right: 10px;
    }
    &__info {
      width: 80%;
      background-color: hsl(240, 1%, 15%);
      padding: 0 15px;

      &__row2,
      &__row1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__row2 {
        padding: 0 10px;
        font-size: 16px;
        color: rgba(228, 227, 227, 0.502);
        background-color: #4f4f4f;
        border-radius: 3px;
        text-transform: lowercase;
      }
      &__title {
        font-weight: 600;
        color: #fff;
        margin: 2px;
      }
      &__status {
        font-weight: initial;
        border-bottom: 1px solid rgba(186, 185, 185, 0.702);
        color: rgba(186, 185, 185, 0.702);
        padding: 2px;
      }
      &__rating {
        &__icon {
          color: gold;
        }
      }
      font-family: "Roboto", sans-serif;
      text-align: center;

      & > p {
        margin: 0;
      }
      &__description {
        color: #bab9b9;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        margin-top: 15px;
        text-align: start;
      }
    }
  }
}
